{{!--  --}}
{{#if error}}
<div class="alert-block alert-error-soft">
  {{!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> --}}
  <strong>Error: </strong>{{error}}
</div>
{{/if}}