<nav class="navigator">
  <div class="nav-logo">
    <a href="/inicio"><img class="img-logo" src="/img/logo.svg"></a>
    <button class="sidebar-button" onclick="sidebarOpen()">☰</button>
  </div>
  <div class="nav-links">

    <a class="nav-link" href="/profile"><i class='bx bxs-user-circle icon-text'></i>Perfil</a>
    <a class="nav-link" href="/logout"><i class='bx bx-log-out icon-text'></i>Cerrar Sesión</a>
  </div>
</nav>