<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Editar Información</h1>
  {{!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div> --}}
</div>

<form action="profile/editprofile" method="POST">
  <h3>Modificar Datos Personales</h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombres</label>
    <input type="text" class="form-control" name="names_user" value="{{user.0.names_user}}"
      placeholder="Ingrese su(s) nombre(s)">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Apellidos</label>
    <input type="text" class="form-control" name="surnames_user" value="{{user.0.surnames_user}}"
      placeholder="Ingrese sus apellidos">
  </div>
  <div class="form-group">
    <label for="inputCodigoAlumno">Código de alumno</label>
    <input type="text" class="form-control" name="code_user" value="{{user.0.code_user}}"
      placeholder="Ingrese su código de alumno">
  </div>
  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

<form action="profile/changepassword" method="POST">
  <h3>Cambio de contraseña</h3>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" name="password_user" placeholder="Contraseña" autocomplete="off"
      id="password" required onchange="validatePassword()">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirmar Contraseña</label>
    <input type="password" class="form-control" name="passwordconfirm_usuario" placeholder="Confirmar Contraseña"
      autocomplete="off" id="password-confirmation" required onkeyup="validatePassword()">
  </div>
  <button type="submit" class="btn btn-primary" id="button-change-password">Cambiar Contraseña</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/utils-editprofile.js"></script>