<link href="/css/styles-register.css" rel='stylesheet'>

<div id="card-centered">
    <div class="card-form">
        <div class="form-title">Registro de Usuarios</div>
        <div class="form-body">
            <div class="row">
                <input id="email" type="text" name="email" placeholder="Emails">
            </div>
            <p id="verificaemail"></p>
            <pre id="view"></pre>
            <div class="row">
                <select id="selector_TipoUsuario" class="form-control">
                    <option value="0">Selecciona el tipo de usuario</option>
                    {{#each usersroles}}
                    <option value="{{id}}">{{name_userrol}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="rule"></div>
        <div class="form-footer">
            <button id="buttonRegistrarUsuario">
                Registrar Usuario(s)
            </button>
        </div>
    </div>
</div>


<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Registro de Usuarios</h3>
        </div>
        <div class="card-body">
            <p style="font-size:smaller;">Ingrese los emails separándolos por coma...</p>

            <div class="form-group">
                <input id="email" type="text" name="email" placeholder="Emails" class="form-control">
            </div>
            <p id="verificaemail"></p>
            <pre id="view"></pre>

            <div class="form-group">
                <select id="selector_TipoUsuario" class="form-control form-control-sm mb-4">
                    <option value="0">Selecciona el tipo de usuario</option>
                    {{#each usersroles}}
                    <option value="{{id}}">{{name_userrol}}</option>
                    {{/each}}
                </select>
                <button id="buttonRegistrarUsuario" class="btn btn-success btn-block">
                    Registrar Usuario(s)
                </button>
            </div>

        </div>
    </div>
</div>




<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Registro Completado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-registeredusers" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/utils-adminregistro.js"></script>